{{>partials/header}}
    
    Seja muito bem vindo {{name}} {{lastname}}!

    {{#showOld}}
        Como está a vida meu nobre?
    {{/showOld}}
    {{^showOld}}
        Tudo bem pae?
    {{/showOld}}    

    <hr/>

    <h2>Pizzas</h2>
    <ul>
        {{#products}}
            {{>partials/productitem}}
        {{/products}}
        {{^products}}
            Não há produtos a serem exibidos
        {{/products}}
    </ul>

    <hr/>
    <ul>
        {{#frasesDoDia}}
            <li> {{.}} </li>
        {{/frasesDoDia}}
        {{^frasesDoDia}}
            Não há frases a serem exibidas hoje :/
        {{/frasesDoDia}}
    </ul>
{{>partials/footer}}